<div class="container">
    <img src="./assets/images/arte-bg.png" alt="imagem de fundo">
    <div class="main-container">
        <div class="logo">
            <img src="./assets/images/logo.png" alt="Logo">
        </div>
        <div class="form-container">
            <h1>Cadastro<span>.</span></h1>
            <form class="form" [formGroup]="registerForm" (submit)="registerUser()">
                <div class="form-input">
                    <label for="firstname">Nome</label>
                    <input id="firstname" type="text" formControlName="firstname" placeholder="Digite seu nome">
                </div>
                <div class="form-input">
                    <label for="lastname">Sobrenome</label>
                    <input id="lastname" type="text" formControlName="lastname" placeholder="Digite seu sobrenome">
                </div>
                <div class="form-input">
                    <label for="email">Email</label>
                    <input id="email" type="email" formControlName="email" placeholder="exemplo@gmail.com">
                </div>
                <div class="input">
                    <div class="form-input">
                        <label for="password">Senha</label>
                        <input id="password" type="password" formControlName="password" placeholder="Digite sua senha..." >
                    </div>
                    <img src="./assets/images/icons/eye.png" alt="icon-olho">
                </div>
                <button type="submit" [disabled]="!registerForm.valid" >Cadastrar</button>
            </form>
        </div>
        <app-welcome
            routerLink="/"
            textButton="LOGIN"
        ></app-welcome>
    </div>
</div>

