.side-bar-dashboard{
  position: fixed;
  right: 0;
  width: 29%;
  height: 100%;
  padding: 20px 44px;

  background-color: #ECECEC;
  .search-input{
    display: flex;
    align-items: center;
    gap: 8px;

    width: 437px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 50px;
    padding: 8px 20px;

    background-color: #FFF;

    input{
      width: 100%;
      padding: 12px;
      border: none;

      font-size: 14px;
    }

    input:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 1400px) {
  .side-bar-dashboard {
    display: none;
  }
}
