.welcome-button{
  width: 318px;
  height: 72px;
  margin-top: 50px;
  margin-bottom:50px ;
  cursor: pointer;
  border: none;
  border-radius: 15px;

  background-color: #1E1E1E;

  font-size:24px ;
  font-weight: 600;
  color: #fff;

}

.welcome-button:hover{
  background-color: #2c2c2b;
}