.title{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 8px;

  h1{
    font-size: 26px;
    font-weight: 600;
  }
  div{
    width: 30px;
    height: 30px;

    img{
      max-width: 100%;
      height: auto;
    }
  }
}
