<div class="container-post">
  <span class="line"></span>
  <div class="card-container">
    <div class="info-user-post">
      <div class="image-profile">
        <img src="./assets/images/profile.png" alt="imagem de perfil">
      </div>
      <div class="info-user">
        <h1>Luffy</h1>
        <p>descrição do post</p>
      </div>
    </div>
    <div class="content-post">
      <div class="image-post">
        <img src="./assets/images/publi.png" alt="image do poste">
      </div>
      <div class="reactions">
        <div class="icon-reactions">
          <img src="./assets/images/icons/heart.png" alt="icone coração">
          <p>100</p>
        </div>
        <div class="icon-reactions">
          <img src="./assets/images/icons/mensage.png" alt="icone comentario">
          <p>45</p>
        </div >
        <div class="icon-reactions">
          <img src="./assets/images/icons/save.png" alt="icone de favorito">
          <p>26</p>
        </div>
      </div>
    </div>
  </div>
</div>
