<div class="container">
    <img src="./assets/images/arte-bg.png" alt="imagem de fundo">
   
    <div class="main-container">
        <div class="logo">
            <img src="./assets/images/logo.png" alt="Logo">
        </div>
        <app-form></app-form>
        <div class="welcome-container">
            <h1>Bem-Vindo ao MidArt!</h1>
            <p> Estamos animados para ter você em nossa comunidade de artistas.</p>
            <app-custom-button routerLink="/register" buttonText="REALIZAR CADASTRO" buttonClass="welcome-button"></app-custom-button>
            <div>
                <div class="or">
                    <div></div>
                    <p>Ou</p>
                    <div></div>
                </div>
                <div class="login-cosial">
                    <app-social-media></app-social-media>
                </div>
            </div>
          </div>
    </div>
</div>
