<div class="container">
    <img src="./assets/images/arte-bg.png" alt="imagem de fundo">
   
    <div class="main-container">
        <div class="logo">
            <img src="./assets/images/logo.png" alt="Logo">
        </div>
        <div class="form-container">
            <h1>Login<span>.</span></h1>
            <form class="form" action="">
                <div class="form-input">
                    <label for="email">Email</label>
                    <input id="email" type="email" placeholder="exemplo@gmail.com">
                </div>
                <div class="input">
                    <div class="form-input">
                        <label for="password">Senha</label>
                        <input id="password" type="password" placeholder="Digite sua senha..." >
                    </div>
                    <img src="./assets/images/icons/eye.png" alt="icon-olho">
                </div>

                <button type="submit">Entrar</button>
            </form>
            <div class="login-cosial">
                <p>Logar Com</p>
                <div class="social-media">
                    <img src="./assets/images/icons/facebook.png" alt="Facebook">
                    <img src="./assets/images/icons/google.png" alt="Google">
                    <img src="./assets/images/icons/twitter.png" alt="Twitter">
                </div>
            </div>
        </div>
        <div class="welcome-container">
            <h1>Bem-Vindo ao MidArt!</h1>
            <p> Estamos animados para ter você em nossa comunidade de artistas.</p>
            <button routerLink="/register">REALIZAR CADASTRO</button>
            <div>
                <div class="or">
                    <div></div>
                    <p>Ou</p>
                    <div></div>
                </div>
                <div class="login-cosial">
                    <div class="social-media">
                        <img src="./assets/images/icons/facebook.png" alt="Facebook">
                        <img src="./assets/images/icons/google.png" alt="Google">
                        <img src="./assets/images/icons/twitter.png" alt="Twitter">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
