.top-menu{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: auto;
  padding:20px 25px;

  background-color: #1E1E1E;

  transition: border-radius 0.3s, top 0.3s;

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li{
    cursor: pointer;
    list-style: none;
    font-size:24px;
    font-weight: 500;
    color:#F4F4F4;
  }

}


@media (min-width: 1180px) {
  .top-menu{
    left: 300px;
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .top-menu{
    left: 310px;
  }
}

@media (min-width: 1280px) {
  .top-menu{
    border-radius: 20px;
    top: 5px;
    width: 900px;
    left: 370px;
  }
}

@media (min-width: 1680px) {
  .top-menu{
    border-radius: 20px;
    top: 5px;
    width: 900px;
    left: 420px;
  }
}
