.top-menu{
  position: absolute;
  left: 74px;
  width: 930px;
  height: 70px;
  border-radius: 14px;
  padding:15px 25px;

  background-color: #1E1E1E;

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li{
    list-style: none;
    font-size:24px;
    color:#F4F4F4;
  }

}
.top-menu ul:first-child li.active,
.top-menu li a:active {
  color: #D65C2B;
  border-bottom: 2px solid #D65C2B;
}
