<div class="nav-container">
  <div class="logo-container">
    <img src="./assets/images/logo.png" alt="imagem da logo">
  </div>
  <div class="nav">
    <ul>
      <li>
        <div>
          <img src="./assets/images/icons/house-solid.png" alt="icone casa">
        </div>
        <p class="active">Página inicial</p>
      </li>
      <li>
        <div>
          <img src="./assets/images/icons/bell-solid.png" alt="icone de notificações">
        </div>
        <p>Notificações</p>
      </li>
      <li>
        <div>
          <img src="./assets/images/icons/bookmark-solid.png" alt="icone de favoritar">
        </div>
        <p>Favoritos</p>
      </li>
      <li>
        <div>
          <img src="./assets/images/icons/rug-solid.png" alt="icone de evento">
        </div>
        <p>Eventos</p>
      </li>
      <li>
        <div>
          <img src="./assets/images/icons/Group.png" alt="icone de groupo">
        </div>
        <p>Grupos</p>
      </li>
      <li>
        <div>
          <img src="./assets/images/icons/user-solid.png" alt="icone de usuário">
        </div>
        <p>Perfil</p>
      </li>
    </ul>
    <div class="btns">
      <button>Novo Grupo</button>
      <button>Novo Poste</button>
    </div>
  </div>
  <div class="container-out">
    <div class="image-profile"> <img src="./assets/images/img-profile.png" alt="imagem de perfil"></div>
    <p>Antonio Jefferon</p>
    <div class="icon-out">
      <img src="./assets/images/icons/Deslogar.png" alt="icone de deslogar">
    </div>
  </div>
</div>
