.nav-container{
  position: fixed;
  z-index: 25;
  left: 0;
  width: 20%;
  min-width: 300px;
  padding: 14px 22px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, #D65C2B, #1E1E1E);
  img{
    max-width: 100%;
    height: auto;
  }

  .logo-container{
    width: 240px;
    height: 117px;

  }

  .nav{
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;

    .style-icon {
      color: #FFF; /* Cor padrão dos ícones e texto */
      display: inline-block;
      vertical-align: middle;
    }

    li.active .style-icon,
    li.active .menu-text {
        color: #000; /* Cor quando o item está ativo */
    }

    /* Adicional: Alinhar o ícone e o texto verticalmente no centro */
    li {
        display: flex;
        align-items: center;
    }

    mat-icon.style-icon {
        margin-right: 8px; /* Espaço entre o ícone e o texto */
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    li{
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 14px;

      p{
        font-size: 20px;
        font-weight: 600;
        color: #FFF;
      }

    }
    .btns{
      display: flex;
      flex-direction: column;
      gap: 14px;

      button{
        cursor: pointer;
        width: 235px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background-color: #1E1E1E;
        color: #fff;

        font-size: 20px;
        font-weight: 700;
      }
    }

    .icon-active{
      font-size: 35px;
      width: 40px;
      height: 40px;
      overflow: none;
    }

    .style-icon{
      font-size: 35px;
      width: 40px;
      height: 40px;
      color: #FFF;
    }
  }

  .container-out{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .out-profile{
      display: flex;
      align-items: center;
      gap: 14px;
    }
    .image-profile{
      width: 50px;
      height: 50px;
    }

    p{
      font-size: 20px;
      font-weight: 500;
      color: #FFF;
    }

    .icon-out{
      width: 30px;
      height: 30px;
    }

  }


}

@media screen and (max-width: 1180px) {
  .nav-container {
    display: none;
  }
}
