<div class="nav-container">
  <div class="logo-container">
    <img src="./assets/images/logo.png" alt="imagem da logo">
  </div>
  <div class="nav">
    <ul>
      <li routerLink="/dashboard/home" routerLinkActive="active">
          <mat-icon class="style-icon">home</mat-icon>
          <p class="menu-text">Página inicial</p>
      </li>
      <li  routerLink="/dashboard/notifications" routerLinkActive="active">
          <mat-icon class="style-icon">notifications</mat-icon>
          <p class="menu-text" >Notificações</p>
      </li>
      <li  routerLink="/dashboard/favorites" routerLinkActive="active">
          <mat-icon class="style-icon">bookmarks</mat-icon>
          <p class="menu-text">Favoritos</p>
      </li>
      <li  routerLink="/dashboard/events" routerLinkActive="active">
          <mat-icon class="style-icon">event</mat-icon>
          <p class="menu-text">Eventos</p>
      </li>
      <li  routerLink="/dashboard/groups" routerLinkActive="active">
          <mat-icon class="style-icon">group</mat-icon>
          <p class="menu-text">Grupos</p>
      </li>
      <li routerLink="/dashboard/profile" routerLinkActive="active">
          <mat-icon class="style-icon">person</mat-icon>
          <p class="menu-text">Perfil</p>
      </li>
    </ul>
    <div class="btns">
      <button>Novo Grupo</button>
      <button>Novo Poste</button>
    </div>
  </div>
  <div class="container-out">
    <div class="out-profile">
      <div class="image-profile"> <img src="./assets/images/img-profile.png" alt="imagem de perfil"></div>
      <p>Jefferon</p>
    </div>
    <div class="icon-out">
      <img src="./assets/images/icons/Deslogar.png" alt="icone de deslogar">
    </div>
  </div>
</div>
