<div class="menu-container">
  <nav>
    <ul>
      <li>
        <mat-icon class="style-icon">home</mat-icon>
      </li>
      <li>
        <mat-icon class="style-icon">notifications</mat-icon>
      </li>
      <li>
        <mat-icon class="style-icon">event</mat-icon>
      </li>
      <li>
        <mat-icon class="style-icon">group</mat-icon>
      </li>
      <li>
        <mat-icon class="style-icon">person</mat-icon>
      </li>
    </ul>
    <div class="btns">
      <button><mat-icon>group_add</mat-icon></button>
      <button><mat-icon>add</mat-icon></button>
    </div>
  </nav>
</div>
