<div class="menu-container">
  <div class="menu-button">
    <mat-icon class="icon-add">add</mat-icon>
  </div>
  <ul>
    <li routerLink="/dashboard/home" routerLinkActive="active">
      <mat-icon class="style-icon">home</mat-icon>
      <p class="menu-text">Home</p>
    </li>

    <li routerLink="/dashboard/notifications" routerLinkActive="active">
      <mat-icon class="style-icon">notifications</mat-icon>
      <p class="menu-text">Notificações</p>
    </li>

    <li routerLink="/dashboard/events" routerLinkActive="active">
      <mat-icon class="style-icon">event</mat-icon>
      <p class="menu-text">Eventos</p>
    </li>

    <li routerLink="/dashboard/groups" routerLinkActive="active">
      <mat-icon class="style-icon">chat</mat-icon>
      <p class="menu-text">Grupos</p>
    </li>

    <li routerLink="/dashboard/profile" routerLinkActive="active">
      <mat-icon class="style-icon">person</mat-icon>
      <p class="menu-text">Perfil</p>
    </li>
  </ul>
</div>
