<div class="menu-container">
  <div class="menu-button">
    <mat-icon class="icon-add">add</mat-icon>
  </div>
  <ul>
    <li>
      <mat-icon class="style-icon">home</mat-icon>
      Home
    </li>
    <li>
      <mat-icon class="style-icon">notifications</mat-icon>
      Notificações
    </li>
    <li>
      <mat-icon class="style-icon">event</mat-icon>
      Eventos
    </li>
    <li>
      <mat-icon class="style-icon">chat</mat-icon>
      Grupos
    </li>
    <li>
      <mat-icon class="style-icon">person</mat-icon>
      Perfil
    </li>
  </ul>
</div>
