<div class="form-container">
  <h1>Login<span>.</span></h1>
  <form class="form" action="">
      <div class="form-input">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="exemplo@gmail.com">
      </div>
      <div class="input">
          <div class="form-input">
              <label for="password">Senha</label>
              <input id="password" type="password" placeholder="Digite sua senha..." >
          </div>
          <img src="./assets/images/icons/eye.png" alt="icon-olho">
      </div>

      <button type="submit">Entrar</button>
  </form>
  <div class="login-cosial">
      <p>Logar Com</p>
      <app-social-media></app-social-media>
  </div>
</div>
